.exp-container {
  margin: 1em auto;
  padding: 1em;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.toolbar-text {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.form-container {
  margin-top: 2em;
}

.exp-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Ensure vertical center alignment */
  justify-content: space-between;
  /* Distribute space evenly */
  gap: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* Add pointer on hover over the icon */
}

.icon-style {
  cursor: pointer;
  color: red;
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 1em;
}

.total-exp-card {
  padding: 15px;
  margin-top: 15px;
  width: 100%;
  max-width: 400px;
  font-size: 20px;
  text-align: center;
}

button[mat-raised-button],
.my-button-class {
  width: 250px;
}

@media (min-width: 600px) {
  .exp-container {
    padding: 0.5em;
  }

  .btn-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .total-exp-card {
    font-size: 24px;
  }
}