.exp-container {
  margin: 1em auto;
  padding: 1em;
  /* Ensure padding is applied evenly */
  width: 100%;
  max-width: 400px;
  /* Limits max width while allowing full width on smaller screens */
  box-sizing: border-box;
  /* Includes padding and border in the element's total width and height */
}

.toolbar-text {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.form-container {
  margin-top: 2em;
}

.exp-input-container {
  display: flex;
  flex-direction: row;
  /* Keep inputs side by side */
  justify-content: space-between;
  /* Distribute space evenly */
  gap: 10px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  /* Stack buttons vertically for better accessibility on mobile */
  align-items: center;
  /* Center-align buttons to handle narrower screens */
  gap: 10px;
  margin-top: 1em;
  /* Provide some top margin for better spacing */
}

.total-exp-card {
  padding: 15px;
  margin-top: 15px;
  width: 100%;
  max-width: 400px;
  font-size: 20px;
  /* Slightly reduce the font size on mobile for better fit */
  text-align: center;
}

button[mat-raised-button], .my-button-class { /* Target buttons or use a class */
  width: 250px; /* Adjust width as needed */
}


@media (min-width: 600px) {
  .exp-container {
    padding: 0.5em;
    /* Reduce padding on larger screens if desired */
  }

  .btn-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .total-exp-card {
    font-size: 24px;
    /* Return to original font size for larger devices */
  }
}