<mat-toolbar color="primary">
  <span class="toolbar-text">Total Experience Calculator</span>
</mat-toolbar>
<div class="exp-container">
  <form [formGroup]="expForm">
    <div formArrayName="experiences" class="form-container">
      <div
        *ngFor="let experience of experiences.controls; let i = index"
        [formGroupName]="i"
        class="exp-input-container"
      >
        <mat-form-field>
          <mat-label>Years</mat-label>
          <input type="number" formControlName="yrsInput" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Months</mat-label>
          <input type="number" formControlName="monthsInput" matInput />
          <mat-error *ngIf="experience.get('monthsInput')?.errors?.['max']">
            Months must be less than 12.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="btn-container">
    <button
      mat-raised-button
      color="primary"
      (click)="addExperienceInput()"
      [disabled]="!expForm.get('experiences')?.valid"
    >
      Add Experience
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="calcTotalExperience()"
      [disabled]="!expForm.get('experiences')?.valid"
    >
      Get Total Experience
    </button>
  </div>

  @if (totalExpText) {
    <mat-card class="total-exp-card">{{ totalExpText }}</mat-card>
  }
</div>
